# Importing ReefBase Database and pushing data to Firebase
The Dataset contains LatLong, Temp and Condition of reefs

### Importing Libraries

In [75]:
import pandas as pd
import numpy as np

import random
import string

from firebase import firebase

In [15]:
df = pd.read_excel('data/CoralBleaching.xlsx')

In [16]:
df = df.drop(columns=['REGION', 'SUBREGION', 'COUNTRY', 'LOCATION', 'MONTH', 'YEAR', 'DEPTH', 'RECOVERY_CODE', 'RECOVERY', 'SURVEY_TYPE', 'SURVEY_AREA', 'OTHER_FACTORS', 'REMARKS', 'BLEACHING_SEVERITY', 'CORAL_FAMILY', 'CORAL_SPECIES', 'PERCENTAGE_AFFECTED', 'PERCENTAGE_AFFECTED', 'BLEACHING_DURATION', 'MORTALITY_CODE', 'MORTALITY', 'SOURCE', 'REFERENCE_CODE', 'COUNTRY_CODE', 'WATER_TEMPERATURE', 'ID'])

In [17]:
df.head(10)

        LAT       LON  SEVERITY_CODE
0 -21.22000  55.22000              0
1 -21.05000  55.23000              0
2 -21.16000  55.28000              0
3  43.00000   5.00000             -1
4  10.12000  99.81000              0
5 -16.63333  59.63333             -1
6  16.00000 -95.00000              3
7   9.27230 -82.00650              2
8  17.79000 -64.63000              2
9  17.68400 -64.73900              1

In [20]:
l = []
for code in df['SEVERITY_CODE']:
    if code > 0:
        l.append(1)
    else:
        l.append(0)
df['SEVERITY_CODE'] = l

In [24]:
df.head(10)

        LAT       LON  SEVERITY_CODE
0 -21.22000  55.22000              0
1 -21.05000  55.23000              0
2 -21.16000  55.28000              0
3  43.00000   5.00000              0
4  10.12000  99.81000              0
5 -16.63333  59.63333              0
6  16.00000 -95.00000              1
7   9.27230 -82.00650              1
8  17.79000 -64.63000              1
9  17.68400 -64.73900              1

In [28]:
df['lat'] = df['LAT']

In [32]:
df['long'] = df['LON']

In [33]:
df['isDead'] = df['SEVERITY_CODE']

In [35]:
df = df.drop(columns = ['LAT', 'LON', 'SEVERITY_CODE'])

In [37]:
len(df)

6190

In [66]:
pH = []
temp = []
isDive = []
uID = []
index = []

for x in range(len(df)):
    pH.append(round(random.uniform(8.5, 8.9), 2))
    temp.append(round(random.uniform(15.12, 20.00), 2))
    isDive.append(0)
    uID.append(-99999)
    index.append(''.join(random.SystemRandom().choice(string.ascii_uppercase + string.digits) for _ in range(6))
)

In [67]:
df['pH'] = pH
df['temp'] = temp
df['isDive'] = isDive
df['uID'] = uID
df.index = index

In [79]:
df[:3]

          lat   long  isDead    pH   temp  isDive    uID
XJDXH2 -21.22  55.22       0  8.87  16.74       0 -99999
86PAYC -21.05  55.23       0  8.79  15.54       0 -99999
BYV4DR -21.16  55.28       0  8.65  16.97       0 -99999

In [89]:
json = df[:10].to_json(orient='index')
json

'{"XJDXH2":{"lat":-21.22,"long":55.22,"isDead":0,"pH":8.87,"temp":16.74,"isDive":0,"uID":-99999},"86PAYC":{"lat":-21.05,"long":55.23,"isDead":0,"pH":8.79,"temp":15.54,"isDive":0,"uID":-99999},"BYV4DR":{"lat":-21.16,"long":55.28,"isDead":0,"pH":8.65,"temp":16.97,"isDive":0,"uID":-99999},"NAAWR2":{"lat":43.0,"long":5.0,"isDead":0,"pH":8.76,"temp":18.72,"isDive":0,"uID":-99999},"QSY8QV":{"lat":10.12,"long":99.81,"isDead":0,"pH":8.71,"temp":16.96,"isDive":0,"uID":-99999},"V8BWM3":{"lat":-16.63333,"long":59.63333,"isDead":0,"pH":8.63,"temp":18.84,"isDive":0,"uID":-99999},"K5B91O":{"lat":16.0,"long":-95.0,"isDead":1,"pH":8.63,"temp":16.51,"isDive":0,"uID":-99999},"L7GTSO":{"lat":9.2723,"long":-82.0065,"isDead":1,"pH":8.84,"temp":17.0,"isDive":0,"uID":-99999},"L615GM":{"lat":17.79,"long":-64.63,"isDead":1,"pH":8.51,"temp":18.68,"isDive":0,"uID":-99999},"HLDTHS":{"lat":17.684,"long":-64.739,"isDead":1,"pH":8.84,"temp":16.6,"isDive":0,"uID":-99999}}'

In [90]:
dic_data = df[:10].to_dict('index')
dic_data

{'XJDXH2': {'lat': -21.22,
  'long': 55.22,
  'isDead': 0,
  'pH': 8.87,
  'temp': 16.74,
  'isDive': 0,
  'uID': -99999},
 '86PAYC': {'lat': -21.05,
  'long': 55.23,
  'isDead': 0,
  'pH': 8.79,
  'temp': 15.54,
  'isDive': 0,
  'uID': -99999},
 'BYV4DR': {'lat': -21.16,
  'long': 55.28,
  'isDead': 0,
  'pH': 8.65,
  'temp': 16.97,
  'isDive': 0,
  'uID': -99999},
 'NAAWR2': {'lat': 43.0,
  'long': 5.0,
  'isDead': 0,
  'pH': 8.76,
  'temp': 18.72,
  'isDive': 0,
  'uID': -99999},
 'QSY8QV': {'lat': 10.12,
  'long': 99.81,
  'isDead': 0,
  'pH': 8.71,
  'temp': 16.96,
  'isDive': 0,
  'uID': -99999},
 'V8BWM3': {'lat': -16.63333,
  'long': 59.63333,
  'isDead': 0,
  'pH': 8.63,
  'temp': 18.84,
  'isDive': 0,
  'uID': -99999},
 'K5B91O': {'lat': 16.0,
  'long': -95.0,
  'isDead': 1,
  'pH': 8.63,
  'temp': 16.51,
  'isDive': 0,
  'uID': -99999},
 'L7GTSO': {'lat': 9.2723,
  'long': -82.0065,
  'isDead': 1,
  'pH': 8.84,
  'temp': 17.0,
  'isDive': 0,
  'uID': -99999},
 'L615GM': {'lat': 17.79,
  'long': -64.63,
  'isDead': 1,
  'pH': 8.51,
  'temp': 18.68,
  'isDive': 0,
  'uID': -99999},
 'HLDTHS': {'lat': 17.684,
  'long': -64.739,
  'isDead': 1,
  'pH': 8.84,
  'temp': 16.6,
  'isDive': 0,
  'uID': -99999}}

### Establishing Firebase Connection and Uploading Data realtime

In [91]:
fb = firebase.FirebaseApplication('https://coralprotect-4d11c.firebaseio.com/', None)

In [92]:
j = 3
for i in range(20):
    fb.put('Pi', ''.join(random.SystemRandom().choice(string.ascii_uppercase + string.digits) for _ in range(8)), df[j-3:j].to_dict('index'))
    j = j + 3